<div class="horse-container">
	<div class="image-container">
		<%= image_tag('horse-js', class: 'horse-img') %>
	</div>

	<div class="text-container">
		<div class="row">
			<span class="title">horse_js</span>
			<span class="pull-right date">7 days</span>
		</div>
		<div class="row">
			<p class="body">as much as I want to be, I'm not <span class="mention">@horse_js</span></p>
		</div>
	</div>
</div>
